server {
  listen 4600;
  listen [::]:4600;
  
  server_name prometheus.sky.services.adam.horden.in;
  
  location / {
    client_max_body_size 128m;
    proxy_pass http://prometheus:9090;
    proxy_set_header X-Forwarded-For $remote_addr;
  }

}
